
/* ------Main Font---------- */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400&display=swap');

/* ------Stylish Heading Font---------- */
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Ubuntu', sans-serif;
}

.heading-font-style{
    font-family: 'Cookie', cursive;
}

/*-----------primary Color Plate--------- */
.color-red{
    color: #ec1c24;
}
.color-yellow{
    color: #FDBD10;
}
.color-blue{
    color:#0066B2;
}
.color-orange{
    color:#ED7902;
}

/*-----------primary Background Plate--------- */
.red-bg{
    background-color:red;
}
.yellow-bg{
    background-color: #FDBD10;
}
.orange-bg{
    background-color: #ED7902;
}
.blue-bg{
    background: #0066B2;
}

.google-btn-shadow{
    box-shadow: 1px 1px 5px 2px #14141442, -1px -1px 1px 1px rgba(0, 0, 0, 0.123);
   }

footer  li:hover{
    color: #ec1c24;
    cursor: pointer;
}